.tableCont
{
  margin: 50px;
  padding: 20px;
  background-color: #e7eaff;
  // background: linear-gradient(90deg, #eceefd, #c4cdff,#889aff,#283fbe);
  border-radius: 10px;
}
table{
  background-color: #f1f3ff;
  border-radius: 5px;
}
